NEXTAUTH_URL=http://localhost:3000/
NEXTAUTH_SECRET = Kq6iyb9SGn0ZLwaiC0yA6yDXhDmd0rlFtyvrOXLKMoE
CHRONOS_DB_USER = odoo
CHRONOS_DB_HOST = chronos-postgres.postgres.database.azure.com
CHRONOS_DB_NAME = Chronos
CHRONOS_DB_PASSWORD = simon9096
CHRONOS_DB_PORT = 16555
CHRONOS_USER_ADMIN = rverioska01@gmail.com
NEXT_PUBLIC_USER_ADMINN=simon@chronosps.com
NEXT_PUBLIC_PASSWORD=12345678
