@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

/* Transición suave al cambiar de tema */
*,
*::before,
*::after {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 200ms;
  transition-timing-function: ease;
}
